body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#74ebd5, #ACB6E5);
  min-height: 100vh;
}

.app {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 12px;
  margin-top: 40px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 95%;
  margin: 5px 0;
  border: none;
  background: #2196f3;
  color: white;
  border-radius: 6px;
  font-size: 16px;
}

button.gps {
  background: #4CAF50;
}

#weatherBox img {
  width: 80px;
}

.hidden {
  display: none;
}

#temp {
  font-size: 28px;
  font-weight: bold;
}

#desc {
  text-transform: capitalize;
}

#error {
  color: red;
}
